.about {
  margin: auto;
  width: 375px;
  height: 529px;
  position: relative;
  &__background {
    width: 375px;
    height: 240px;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0.01%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      url('../images/image_hero_comp_mobile.jpg');
  }
  &__headline-big {
    display: none;
  }
  &__line {
    display: none;
  }
  &__text-box {
    width: 343px;
    height: 334px;
    position: absolute;
    top: 195px;
    background-color: var(--White);
  }
  &__headline-small {
    margin: 66px auto 0 32px;
    color: var(--VeryDarkBlue);
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -1.2px;
  }
  &__text {
    margin: 20px auto 0 32px;
    color: var(--DarkGrey);
    font-weight: 500;
    line-height: 24px;
  }
}

@media screen and (min-width: 768px) {
  .about {
    width: 573px;
    height: 720px;
    &__background {
      width: 573px;
      height: 720px;
      background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 0.01%,
          rgba(0, 0, 0, 0.5) 100%
        ),
        url('../images/image_hero_comp_tablet.jpg');
    }
    &__headline-big {
      display: block;
      position: absolute;
      top: 204px;
      right: 0;
      z-index: 3;
      color: var(--VeryLightGrey);
      font-size: 152px;
      line-height: 200px;
      letter-spacing: -3px;
    }
    &__line {
      display: block;
      position: absolute;
      top: 377px;
      left: 118px;
      z-index: 3;
      width: 65px;
      height: 1px;
      background-color: var(--LightGrey);
    }
    &__text-box {
      width: 515px;
      height: 431px;
      top: 289px;
      right: 0;
    }
    &__headline-small {
      margin: 162px auto 0 60px;
      font-size: 72px;
      line-height: 64px;
      letter-spacing: -2px;
    }
    &__text {
      margin: 43px auto 0 60px;
    }
  }
}

@media screen and (min-width: 1440px) {
  .about {
    width: 1110px;
    &__background {
      width: 635px;
      background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 0.01%,
          rgba(0, 0, 0, 0.5) 100%
        ),
        url('../images/image_hero_comp_desktop.jpg');
    }
    &__headline-big {
      top: 130px;
      right: 4px;
      font-size: 250px;
      letter-spacing: -5px;
    }
    &__line {
      top: 377px;
      left: 664px;
    }
    &__text-box {
      width: 628px;
      height: 503px;
      top: 217px;
      right: 0;
    }
    &__headline-small {
      margin: 218px auto 0 182px;
    }
    &__text {
      margin: 58px auto 0 182px;
      width: 445px;
    }
  }
}
